#########
# Python
#########
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#########
# Emacs
#########

*~
\#*\#

###############
# PROJ SPECIFIC
###############

/users/*

/builds/*

dist/

venv/

'*'

.ropeproject/